aiohttp
mypy
black
ruff
pycodestyle
pydocstyle
langchain
tiktoken
aiobotocore==2.5.0
boto3==1.26.76
sqlalchemy[asyncio]
BeautifulSoup4
langcodes[data]
aiomysql
fastapi
pillow
cryptography
uvicorn
mysql-connector-python

pandas
requests
bs4
lxml
selenium
